.projects{
    width: 100%;
    height: 100vh;
    background: url(../Images/project-bg.png) no-repeat bottom center/cover;

    @include responsive(breakpoint4){
        background-size: 100% 100%;
    }

    @include responsive(breakpoint2){
        background: linear-gradient(
           to bottom,
           $blue-dark,
           #060606
        );
    }
}

.projects__container{
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.projects__heading{
    margin-top: 1rem;
}

.project__head{
    color: $white;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    font-weight: 400;
}

.project__head .project__head-blue{
    color: $blue;
    font-weight: 500;
}

.projects__container-sub{
    max-width: 94%;
    height: 60%;
    margin: auto;
    margin-top: 9rem;
    position: relative;

    @include responsive(breakpoint3){
        max-width: 100%;
        margin-top: 15rem;
    }

    @include responsive(breakpoint2){
        max-width: 52%;
    }

    @include responsive(breakpoint1){
        max-width: 52%;
    }

    @include responsive(breakpoint1xsm){
        max-width: 60%;
    }
}

.projects__showcase-container{
    overflow: hidden;
    width: 100%;
    height: 100%;
    white-space: nowrap;

}

.btn-projects{
    position: absolute;
    top: 36%;
    transform: translateY(-50%);
    background: none;
    border: none;
    z-index: 50;
    cursor: pointer;

    @include responsive(breakpoint4){
        top: 37.5%;
    }

    @include responsive(breakpoint3){
        top: 35.5%;
    }

    @include responsive(breakpoint2){
        top: 34.5%;
    }

    @include responsive(breakpoint1){
        top: 28%;
    }
}

.btn-projects:focus{
    outline: none;
}

.btn-projects .fas{
    color: $blue;
    font-size: 3rem;
}

.btn-next{
    right: 0;

    @include responsive(breakpoint3){
        right: 4rem;
    }

    @include responsive(breakpoint2){
        right: 0;
    }

    @include responsive(breakpoint1){
        right: 0;
    }
}
.btn-prev{
    display: none;
    left: 0;
}

.btn-next.hide{
    display: none;
}

.btn-prev.show{
    display: block;
}

.projects__showcase{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    transition: transform .5s ease;
}

.projects__showcase-sub{
    width: 45rem;
    height: 40rem;
    flex-shrink: 0;
    margin: 0 2rem;

    
    @include responsive(breakpoint6){
        margin: 0 2rem 0 9rem;
    }

    @include responsive(breakpoint5){
        margin: 0 2rem 0 8rem;
    }

    @include responsive(breakpoint4){
        margin: 0 6rem;
    }

    @include responsive(breakpoint3){
        margin: 0 6rem;
    }

    @include responsive(breakpoint2){
        margin: 0 7.5rem;
        width: 35rem;
    }

    @include responsive(breakpoint1){
        margin: 0 3.5rem;
        width: 34rem;
    }

    @include responsive(breakpoint1sm){
        margin: 0 3.9rem;
        width: 30rem;
    }

    @include responsive(breakpoint1xsm){
        margin: 0 1.6rem;
        width: 26rem;
    }
}

.project{
    width: 100%;
    height: 100%;
}

.project__image-container{
    width: 100%;
    height: 50%;
}

.project__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project__info{
    width: 70%;
    height: 50%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 1.5rem;
    box-shadow: 0 0 .2rem .1rem rgba($grey, .3);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

    @include responsive(breakpoint2){
        width: 75%;
    }

    @include responsive(breakpoint1sm){
        margin-top: -1.7rem;
    }

    @include responsive(breakpoint1xsm){
        width: 85%;
        margin-top: -2.8rem;
    }
}

.project__info-inner{
    width: 100%;
    height: 50%;
    margin-bottom: 5rem;
}

.project__description{
    color: $blue;
    font-size: 2.3rem;
    margin: 1rem 0;
}

.project__description-paragraph{
    color: $grey;
    font-size: 1.5rem;
}

.project__info-touch{
    width: 100%;
    height: 50%;
    border-top: .1rem solid rgba($grey, .3);
}

.project__link span{
    transition: color .3s ease;
}

.project__link .fa-github{
    margin: 1rem;
    font-size: 3rem;
    color: $grey;
}

.project__link .fa-link{
    color: $grey;
    font-size: 2.8rem;
}

.project__link span:hover{
    color: $blue;
}