*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include responsive(breakpoint4){
        font-size: 59%;
    }

    @include responsive(breakpoint3){
        font-size: 55%;
    }

    @include responsive(breakpoint1){
        font-size: 45%;
    }
}

body{
    font-family: 'Inconsolata', sans-serif;
}

.container{
    position: relative;
    max-width: 100%;
    width: 87%;
    height: 100%;
    margin-left: auto;
    transition: width .3s;

    @include responsive(breakpoint5){
        width: 100%;
    }
}

// Scrollbar
::-moz-scrollbar-button:decrement,
::-moz-scrollbar-button:increment,
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
  width: 0;
}
::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background: $blue-dark;
}

::-webkit-scrollbar-thumb{
    background: $blue;
}